.project
.settings/*
.vscode/*
.env
.env.*
*.swp
*.bak
*.asp.*
*.php.*
*.html
*.txt
!robots.txt
*.zip
*OBSOLETE*
*DEPRECATED*
test*
web.config


config/*

# Exclude composer projects, except for composer.json and composer.lock
core/lib/vendor*
core/beta/lib/vendor/*

logs/*

# No .well-known except for gpc (Global Privacy Control)
public/.well-known/*
!public/.well-known/gpc.json

# No docs except for a select few
public/docs/*
!public/docs/*mbrltr_access.pdf
!public/docs/*mbrltr_affirmation.pdf
!public/docs/*mbrltr_cm.pdf
!public/docs/*mbrltr_newmember.pdf
!public/docs/*NewsLetter*.pdf

services/*
templates/*
!templates/*.html
!templates/*.txt

test/*
tmp/*


