<div class="mb-1">
  Resurrection Physicians Provider Group (RPPG) understands that all proprietary and protected health information (PHI) is confidential. RPPG agrees to follow all policies and procedures governing the confidentiality and security of PHI in any form, including oral, fax, photographic, written, or electronic.
</div>

<div class="mb-1">
  RPPG will not access, release, or share PHI, except as necessary and as allowed by law. RPPG agrees to use all reasonable means to protect the security of PHI, and to prevent it from being accessed or released, except as permitted by law.
</div>

<div class="mb-1">
  All employees of RPPG agree to report unauthorized use or disclosure of PHI, or security issues affecting systems that contain or give access to PHI. All employees understand that if PHI is not kept confidential or if there is a case of inappropriate disclosure or access to PHI, employees are subject to immediate disciplinary or corrective action, up to and including dismissal or loss of access to such information and/or termination of employment. Unauthorized access, use, or disclosure of PHI may also violate federal and state law, and may result in criminal and civil penalties.
</div>

<div class="mb-1">
  <h3>Global Privacy Control</h3>
  <p class="mb-1">
    Some browsers, such as Mozilla Firefox, have a Do Not Track or Global Privacy Control setting. While RPPG does not share or sell data with advertisers, or other third parties outside of normal healthcare operations, this site does honor that setting.
  </p>
  <p>Your current setting is: <span id="gpc-current-value"></span></p>
</div>