#doc-container {
  font-size: 16px;
}

#doc-container>div {
  margin-bottom: .5em;
  display: inline-block;
}

.doclink {
  display: inline-block;
  width: 320px;
}

.docdesc {
  display: inline-block;
  min-width: 320px;
}

@media only screen and (max-width: 800px) {
  .doclink {
    width: 100%;
  }
}