#results, #results * {
    box-sizing: border-box;
}

#results {
    margin-top: 20px;
    max-width: 100%;
}

#results hr {
    size: 1px;
    border-top: 1px solid #aaa;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#results .specialty-header {
    font-size: 1.6em;
    font-weight: bold;
    color: white;
    background-color: #003366;
    padding: 12px 8px 12px 8px;
    margin-bottom: 8px;
}

#results .container {
    padding: 8px;
    margin-bottom: 20px;
    /*
    -webkit-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.75);
    */
    width: 100%;
}

#results .header-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #003366;
}

#results .header {
    font-weight: bold;
    margin-top: 8px;
}

#results .website {
    margin: 1em 0;
}

#results .office-hours {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid black;
}

#results .office-hours .day-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#results .office-hours .day-container .day {
    flex: 1;
    text-align: center;
    font-weight: bold;
    border-top: none;
    border-right: 1px solid #777;
    border-bottom: 1px solid #777;
    border-left: none;
}

#results .office-hours .day-container:last-child .day {
    border-right: none;
}

#results .office-hours .day-container .hours {
    flex: 1;
    text-align: center;
    white-space: nowrap;
    border-top: none;
    border-right: 1px solid #777;
    border-bottom: none;
    border-left: none;
}

#results .office-hours .day-container:last-child .hours {
    border-right: none;
}

@media only screen and (max-width: 750px) {
    #results .office-hours {
        display: flex;
        flex-direction: column;
        border: none;
    }

    #results .office-hours .day-container {
        max-width: 200px;
        display: flex;
        flex-direction: row;
        border-top: none;
        border-right: 1px solid black;
        border-bottom: none;
        border-left: 1px solid black;
    }

    #results .office-hours .day-container:first-child {
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: none;
        border-left: 1px solid black;
    }

    #results .office-hours .day-container:last-child {
        border-top: none;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
    }

    #results .office-hours .day-container .day {
        flex-basis: 60px;
        flex: 1;
        padding: 4px 2px;
        border-top: none;
        border-right: 1px solid #777;
        border-bottom: 1px solid #777;
        border-left: none;
    }

    #results .office-hours .day-container:last-child .day {
        border-top: none;
        border-right: 1px solid #777;
        border-bottom: none;
        border-left: none;
    }

    #results .office-hours .day-container .hours {
        flex: 3;
        padding: 4px 2px;
        border-top: none;
        border-right: none;
        border-bottom: 1px solid #777;
        border-left: none;
    }

    #results .office-hours .day-container:last-child .hours {
        border: none;
    }
}