<div style="padding-bottom:1em;">
	<i>
		Disclaimer: RPPG receives lab results from the following laboratory processing agencies:<br/>
		<ul style="margin:1em 0 1em 2.5em;">
			<li>Professional Clinical Labs / Alverno (monthly)</li>
			<li>LabCorp (monthly)</li>
			<li>Quest Diagnostics (weekly)</li>
		</ul>
		Lab results received monthly usually contain data from the previous month, however, some lab results may be delayed by up to 60 days. If you are looking for specific results and you do not find them here, please consult with your physician.<br>
	</i>
</div>
