<div style="width:100%;font-size:14px;font-family:Helvetica,Arial,sans-serif;color:#464646;">
	<div style="width:70%;margin:0 auto;">
		<p>Hello, %%FIRSTNAME%%,</p>
		<p>We received your request for a password reset. Below, you will find your new temporary password. You will be required to change your password when you log in. This password is case-sensitive, so enter it exactly as you see it.</p>
		<br>
		<p>Password: %%PASSWORD%%</p>
		<p>Log in link: <a href="%%SITEURL%%/login.php">%%SITEURL%%/login.php</a></p>
	</div>
</div>
