	<br/>
	<div id="disclaimer-container">
		<div class="disclaimer" style="margin-bottom:4px;">
			<strong>ALL</strong> Lab work or Pathology must be provided by Alverno. Prior approval is required for services provided by any other lab.
		</div>
		<div class="disclaimer">
			<p>
				<strong>ATTENTION!&nbsp;&nbsp;</strong> This referral is valid only for the eligible member indicated above, for covered services. <strong>REFERRAL DOES NOT AUTHORIZE NON-COVERED SERVICES.</strong> Acceptance of this referral constitutes a contract and you agree to: (1) Accept Resurrection Physicians Provider Group (RPPG) fee, or other amount as agreed upon, as full payment; (2) Not bill the patient, except for approved co-payments; (3) Contact PCP/WPHCP to discuss additional recommended services; (4) Use RPPG contracted facilities as required; (5) Submit bills to RPPG within 60 days of services or payment will be denied. Please fax/mail copy of your findings/recommendations to PCP and/or WPHCP.
			</p>
			<p><strong>Additional recommended services must be approved by the PCP/WPHCP and pre-authorized (if applicable) by RPPG.</strong></p>
			<p>Mail this form with your billing statement to: MSO Great Lakes, Inc.; P.O. Box 240485, Apple Valley, MN 55124.</p>
			<p>If you have questions, RPPG can be reached by phone at 773-695-4800 or by fax at 773-864-9418 or 773-864-9435.</p>
		</div>

		<div style="display:none;">
			<br />
			<p><strong>Specialist Findings/Recommendations:&nbsp;</strong></p>
			<p style="border-bottom: 1px solid black;">&nbsp;</p>
			<p style="border-bottom: 1px solid black;">&nbsp;</p>
			<p style="border-bottom: 1px solid black;">&nbsp;</p>
			<p>
				<strong>Follow-up:&nbsp;&nbsp;&#x2610; Can be performed in PCP office&nbsp;&nbsp;&nbsp;&nbsp;
					&#x2610; Should be performed in my office&nbsp;&nbsp;&nbsp;&nbsp;
					&#x2610; Other (please specify above)</strong>
			</p>
			<p><strong>Specialist Signature: </strong>_________________________________________ Date:_________________________</strong></p>
		</div>
	</div>
